SELECT 
    E.NM_ESTADO AS UF,
    C.NM_CULTURA AS "Tipo de Cultura",
    P.QT_PRODUTORES AS "N. de Produtores (Discreta)",
    PR.VL_PRODUCAO_TONELADAS AS "Produção (Toneladas)",
    PR.VL_AREA_PLANTADA_HA AS "Área Plantada (ha)",
    PR.CL_CLASSIFICACAO_PRODUTIVIDADE AS "Classificação de Produtividade"
FROM 
    T_SPA_PRODUTORES P
JOIN 
    T_SPA_ESTADO E ON P.CD_ESTADO = E.CD_ESTADO
JOIN 
    T_SPA_CULTURA C ON P.CD_CULTURA = C.CD_CULTURA
JOIN 
    T_SPA_PRODUCAO PR ON PR.CD_CULTURA = C.CD_CULTURA AND PR.CD_ESTADO = E.CD_ESTADO
ORDER BY 
    E.NM_ESTADO, C.NM_CULTURA;

