-- Inserts para a tabela T_SPA_PRODUCAO com subconsultas para CD_CULTURA e CD_ESTADO

INSERT INTO T_SPA_PRODUCAO (CD_CULTURA, CD_ESTADO, VL_PRODUCAO_TONELADAS, VL_AREA_PLANTADA_HA, CL_CLASSIFICACAO_PRODUTIVIDADE, DT_CRIADO_EM, DT_ALTERADO_EM, CD_CRIADO_POR, CD_ALTERADO_POR)
VALUES (
    (SELECT CD_CULTURA FROM T_SPA_CULTURA WHERE NM_CULTURA = 'Laranja'),
    (SELECT CD_ESTADO FROM T_SPA_ESTADO WHERE NM_ESTADO = 'São Paulo'),
    14491.38, 
    419308, 
    'Alta', 
    CURRENT_TIMESTAMP, 
    CURRENT_TIMESTAMP, 
    1, 
    1
);

INSERT INTO T_SPA_PRODUCAO (CD_CULTURA, CD_ESTADO, VL_PRODUCAO_TONELADAS, VL_AREA_PLANTADA_HA, CL_CLASSIFICACAO_PRODUTIVIDADE, DT_CRIADO_EM, DT_ALTERADO_EM, CD_CRIADO_POR, CD_ALTERADO_POR)
VALUES (
    (SELECT CD_CULTURA FROM T_SPA_CULTURA WHERE NM_CULTURA = 'Café'),
    (SELECT CD_ESTADO FROM T_SPA_ESTADO WHERE NM_ESTADO = 'São Paulo'),
    44590.00, 
    216000, 
    'Alta', 
    CURRENT_TIMESTAMP, 
    CURRENT_TIMESTAMP, 
    1, 
    1
);

INSERT INTO T_SPA_PRODUCAO (CD_CULTURA, CD_ESTADO, VL_PRODUCAO_TONELADAS, VL_AREA_PLANTADA_HA, CL_CLASSIFICACAO_PRODUTIVIDADE, DT_CRIADO_EM, DT_ALTERADO_EM, CD_CRIADO_POR, CD_ALTERADO_POR)
VALUES (
    (SELECT CD_CULTURA FROM T_SPA_CULTURA WHERE NM_CULTURA = 'Milho'),
    (SELECT CD_ESTADO FROM T_SPA_ESTADO WHERE NM_ESTADO = 'São Paulo'),
    10930.00, 
    1200000, 
    'Alta', 
    CURRENT_TIMESTAMP, 
    CURRENT_TIMESTAMP, 
    1, 
    1
);



-- Continue adicionando para todos os estados e culturas restantes

